[2016-04-04 02:43] PmE8HW0KRfqa opened #1 "can't compile on Mac OS 10.9.5 - unknown type name n_short and n_time"
[code]

[2016-04-04 03:16] cnlohr commented on #1
woah... I don't know for sure, my first inclination is to add a -D_GNU_SOURCE to the compile flags.

[2016-04-04 12:18] hackrid opened #2 "Failed to set TTL option"
built from current head

[developer@localhost cnping]$ ./cnping google.com
Error: Failed to set TTL option

strace output:
[code]

[2016-04-04 14:57] cnlohr commented on #2
Needs to be run as "sudo" when installing to /usr/local/bin, you can set the sticky bit.

[2016-04-04 15:25] hackrid commented on #2
sticky bit?
ok, I was also facing some proxy trouble. with local host names, it works as sudo.

where does it get its proxy settings from?

[2016-04-04 17:16] cnlohr commented on #2
Proxy settings?  That seems odd to me.  Does regular ping support proxy settings?  Typically it uses default routes to get to other ports.

[2016-04-05 07:05] hackrid commented on #2
hi charles,
again, my fault. it seems our friendly proxy blocks all pings to the outside world.
could you say what you mean by "sticky bits"?

[2016-04-05 07:09] hackrid opened #3 "(auto) scaling vertical axis"
with local ping targets, delays are really small.
might it be useful to add an option to auto scale the vertical axis ?

[2016-04-07 02:58] cnlohr commented on #3
Oooh... Do you mind if it's a command-line parameter?

Also, if you want to modify it to take command line parameters properly, I'm game!  Interested in contributing or just commenting?

[2016-04-07 02:59] cnlohr commented on #2
OH! ok... so, on Linux systems you have to have root privileges to ping out.  So, you can make cnping 'root' but run it as a user and allow it to maintain its root status.

[2016-04-07 08:12] hackrid commented on #3
I'm also interested in contributing. but I'm not that experienced with gui programming. I will have a look.
any hint is welcome ;)

[2016-04-07 20:38] cnlohr commented on #3
this is barely GUI :-p

[2016-04-08 07:21] hackrid commented on #3
well then. I really like non-gui tools like this ;)

[2016-04-08 07:22] hackrid commented on #2
- run cnping as root
- don't put a proxy between you and ping target

[2016-04-08 07:22] #2 closed

[2016-04-08 12:31] hackrid commented on #3
#4 addresses my needs

[2016-04-09 22:56] cnlohr commented on #3
Automatic would be neat, too.  I am still thinking about making this thing accept ping-style command-line arguments, like -s, -i, etc.

[2016-04-12 06:49] hackrid commented on #3
regarding auto scaling, what do you think about this:
let the current response tme maximum (https://github.com/cnlohr/cnping/blob/master/cnping.c#L179) act as scaler for other values to use the complete range of screen y ?

[2016-04-13 05:40] #3 closed

[2016-04-22 14:45] mischnic commented on #1
It compiled after adding some includes and copying the icmphdr struct definition from the WIN32 part.
But then running fails: _Error: Failed to set TTL option_ . That might has to do something with `#define SOL_IP IPPROTO_IP`?

Patch
[mac.patch.txt](https://github.com/cnlohr/cnping/files/232003/mac.patch.txt)

[2016-04-22 18:13] hackrid commented on #1
had the same issue. you must run it as root

[2016-04-23 00:15] hackrid commented on #1
... or what ever you call it on osx ;)

[2016-06-09 09:22] piksel opened #7 "Instructions for compiling on Ubuntu"
Just thought I'd contribute the packages needed to compile on Ubuntu 15.04:
`sudo apt install libxinerama-dev libxext-dev libx11-dev build-essential`
followed by
`make`

Perhaps they could be added to the README?

[2016-06-12 05:00] cnlohr commented on #7
Done.

[2016-06-12 14:26] #7 closed

[2016-09-24 17:56] cybercr33k opened #8 "Accessing webinterface not possible"
Hi after flashing the 2 bin files all works well except the bad thing that i cant access the webinterface under 192.168.4.1, the site tells me file not found ( in the left corner, not the site is not available thing). THX in advance cyberkr33k

[2016-09-25 12:44] Yann-R commented on #1
Most of the time, when `n_short` and `n_time` are missing definitions on Mac around `ip_icmp`, the reason is missing `#include <netinet/ip.h>`

Sometimes, you already have `#include <netinet/in.h>`, which is not sufficient and can be replaced by the above `ip.h`that transitively includes `in.h`.

[2016-09-27 14:47] cnlohr commented on #8
I think you're in the wrong project... this is cnping, no?

[2016-09-27 14:48] cnlohr commented on #1
So... do changes need to be made on my part?

[2016-09-27 15:43] mischnic commented on #1
I updated the code and now I get these errors after closing the cnping window using the button:
[code]
Obvisouly, cnping exits, should I ignore the message?
(I was going to create a pull request)

[2016-11-12 14:52] mischnic commented on #1
Can be closed (pr #10 & #11)

[2016-11-23 03:38] #1 closed

[2016-12-27 17:43] dudanov opened #15 "Loss statistic"
Hi!
I have 2 questions:
1. Why ping started with 100% loss?
2. While ping in progress and screen is filled, loss value is jumping about one pixel cost (for example, 0~0.3%)
I understand that this is not a bug, but rather a small unpleasant features of realization.

[2016-12-27 18:15] cnlohr commented on #15
That is a good observation.  I wasn't the person who added the ping loss feature, it looks like it just uses whatever's on-screen to do the calculation.  Are you up for tweaking it to be a some other metric?  Perhaps storing an array of tried vs given up?  I don't believe I have a threshold now for giving up.

[2017-01-11 20:03] rscullin opened #16 "cnping gives cryptic error message when not running as root"
When running `cnping` as a non-root user, I get a cryptic-ish error:
[code]
The issue is caused by not running `cnping` as `root` (or with `sudo`), and it would be helpful to alert the user that it needs to be run with root privs.

[2017-02-02 11:27] 4ndrej commented on #16
It seems that setsockopt(...) in ping.c cause the problem since it should be run as root.
https://github.com/cnlohr/cnping/blob/933806fc806b9052110e0342ef8fc6823ee278de/ping.c#L253

[2017-03-10 01:18] dreua commented on #15
Here is my fix for this issue: https://github.com/dreua/cnping/commit/43f1ae152b13b6734d4c771431422d871ee66c8d

Should I send a pull request?

[2017-03-10 02:15] cnlohr commented on #15
Yes, please make a pull request.  I tried thinking through it once and got confused.

[2017-03-13 14:27] dreua opened #18 ""Std"-value lower than "Min"-value"
I'm not quite sure what "Std" means but being lower than "Min" seems wrong to me.

[2017-03-13 15:01] cnlohr commented on #18
That seems right... it's the deviation from the average.  It's a metric for how stable the ping is.

[2017-03-13 15:21] dreua commented on #18
Oh well that seems so obvious 🤦‍
Thanks!

[2017-03-13 15:21] #18 closed

[2017-03-20 08:18] McC-ITS opened #19 "Port to Android"
Hay ;)

I really like your cnping on PC,

Would it be possible to port it to Android?
It would be really handy to have it mobile for wireless testing.
Unfortunately i do not have the skills to figure it out on my own,

thanks in advance for your help
McC

[2017-03-20 14:27] dreua commented on #19
I think it would be like writing a new Andrid app with the same functinality as cnping. There would be little to no reusable code from cnping. (Except for the idea and maybe the calculation of "Avg"/"Std"/"Loss".)

Additionaly one had to check if pinging that fast (i.e. without waiting for the previous ping to return or timeout) is possible on Android. Same goes for the "extra size" function if th

[2017-03-20 14:49] dreua commented on #19
I think it would be like writing a new Andrid app with the same functinality as cnping. There would be little to no reusable code from cnping. (Except for the idea and maybe the calculation of "Avg"/"Std"/"Loss".)

Additionaly one had to check if pinging that fast (i.e. without waiting for the previous ping to return or timeout) is possible on Android. Same goes for the "extra size" function if th

[2017-03-20 15:09] cnlohr commented on #19
I would absolutely approve the name, even moreso if it used the same convention of white bars on a blue-or-black background that turn red when they breach some timeout with horizontal average and/or standard of deviation bars.

I am just SO SICK of people trying to use command-line ping tools to debug wireless problems.  Tools like HR-ping help, but they just don't cut it for real-time updates!  A

[2017-03-20 17:20] dreua commented on #19
I have done a little bit of research and it seems that my Android knowledge was outdated and my first statement may be wrong (sorry):
It may well be possible to reuse quite some C code using Googles Android Native Development Kit (NDK) and one might have to use native code anyway to get the fast pings!

I really like cnping as well as the idea to port it to Android and I am planing to try this: If

[2017-03-20 17:39] cnlohr commented on #19
I have literally zero experience with it.  I can only support you emotionally :-p.  Also, is there any reason not to make it free?  And not require permissions to all your contacts and camera and to send/receive text messages and phone calls?

[2017-03-20 19:43] dreua commented on #19
My Android experience is more than zero, but also very limited so I will just give it a try. Your emotional support is greatly appreciated 😄
A reason not to make it free would be making money but FOSS is just so much cooler, so I'll donate any work and hope for good karma instead.
There won't be any unnecessary permissions, I promise! Let's hope we don't need root to get a fast ping...

[2017-03-20 19:49] cnlohr commented on #19
Not native, but http://stackoverflow.com/questions/3905358/how-to-ping-external-ip-from-java-android

P.S. If you can get RawDraw to work in the Android NDK that would be super cool!  Though I do need to update CNPing's RawDraw API.  RawDraw has been cookin' along. https://github.com/cnlohr/rawdraw

[2017-03-20 20:39] hackrid commented on #19
From the Android terminal:

2|FulmicsROM:/ $ ping -i 0.1 192.168.1.1
PING 192.168.1.1 (192.168.1.1) 56(84) bytes of data.
ping: cannot flood; minimal interval, allowed for user, is 200ms

[2017-03-20 20:43] cnlohr commented on #19
That's only because the "ping" program restricts that.

[2017-03-21 04:51] dreua commented on #19
@hackrid What phone are you using? On my devices, HTC One S (not rooted) and Fairphone 1 (root by default), there is no limit. `ping -i 0 <IP>` pings like crazy!

[2017-03-21 05:11] cnlohr commented on #19
I updated to the newest version of rawdraw.  You guys can feel to knock yourselves out now :-D

[2017-03-21 05:12] cnlohr commented on #19
P.S.  I would be willing to put $25 of my own $ toward someone making a cnping-type tool for android (provided it works well)

[2017-03-27 21:19] dreua commented on #19
Like on Linux and Windows you need root access to open a socket with `SOCK_RAW` flag so I'm wondering which way to go:

1. Require CNPing-Users on Android to root their phone and grant root access to the app. (This would have the best performance and will most likely work best and be closest to cnping.)
1. Try abusing the system provided ping. (Like using many instances of it. May be unreliable or

[2017-03-30 05:48] tjb0607 opened #20 "graph display glitched when window width > 2048px"
When window width is greater than 2048px, it shows the same data twice, once starting at the 1st pixel, and once starting at the 2049th pixel on the X axis:

![image](https://cloud.githubusercontent.com/assets/1190870/24489265/25b4b592-14d1-11e7-96b6-a272797a9789.png)

[2017-03-30 15:37] cnlohr commented on #20
This is because of the size of the ring buffer... Perhaps we could increase the constant, though I haven't thought through the implications of such.  Mind changing PINGCYCLEWIDTH  to 4096 and seeing if it breaks anything?

[2017-03-30 15:38] cnlohr commented on #20
...or 8192!

[2017-03-30 15:38] cnlohr commented on #20
It must be a power of two!

[2017-05-23 14:43] cnlohr commented on #20
Fixed in the dev branch.  Give it a shot.

[2017-05-23 14:44] cnlohr commented on #16
@rscullin Can you check out the current dev branch and see if it runs well on a mac?

[2017-05-23 14:44] #8 closed

[2017-05-25 07:38] hackrid commented on #19
Hi @dreua,

If I read your last message correctly, there's only one option left how to get a cnping Derivate working on android :)

Or did I miss a point?

[2017-05-25 17:51] dreua commented on #19
The problem is, none of the options is perfect. Number one would be best for my own use, *but* other potential users might not be able or wiling to root their phones. Additionally I'm not sure if running an executable with su will work the same on different devices.

btw: I was able to compile most of the C-Code for Android, run it as root (with su) from an Android App and do the pinging. (Just pi

[2017-05-25 22:50] hackrid commented on #19
Great! That's a starting point!
Would you like to share your efforts you made so far with the app?

[2017-06-08 02:19] Viknet commented on #19
![img_1584](https://user-images.githubusercontent.com/418420/26909528-10efbfd8-4c0a-11e7-9393-5d6b5640860a.jpg)

[2017-06-08 03:46] hackrid commented on #19
:D nice

[2017-06-08 04:13] hackrid commented on #19
Does this mean you ported cnlohrs rawdraw to Android?

[2017-06-08 05:40] Viknet commented on #19
Not exactly :)
I turned it inside out. Rasterizer (in native code) draws on pixel-buffer from android Bitmap.

[2017-06-08 06:04] cnlohr commented on #19
@Viknet that makes me cringe a little inside :-p.  But how can I try this?

[2017-06-08 06:48] Viknet commented on #19
It's a little unstable and unfinished at so many levels... And needs rooted android.
If you are brave enough, I can create apk in an hour.

[2017-06-08 08:02] Viknet commented on #19
I have not tried to install it manually (only through adb).
https://github.com/Viknet/cnping-android/releases/tag/0.0.1

[2017-06-08 23:03] Viknet commented on #19
Thank you for some bad news :)
It is SELinux and I know nothing about it... but I will try to write policies on emulator.

[2017-06-08 23:26] hackrid commented on #19
I tried to disable selinux as good as possible. But as far I found out there is not much more than setting it to permissive mode.

Regarding the PIE problem:
This situation changed with the security policyies introduced in and rid 4.1.

What version so you have on your phone?

[2017-06-08 23:36] Viknet commented on #19
I will create PIE build in an hour. It raises minimal android version to 4.1 (target was 4.0.2).

"su root setenforce 0" in adb shell should be enough for Unix Domain Socket.
Maybe local Inet socket will work without bothering SELinux.

My phone is under 4.4.2 and not have SELinux.

[2017-06-08 23:42] hackrid commented on #19
I tried to setenforce 0.had no luck

[2017-06-09 00:54] Viknet commented on #19
PIE build is ready: https://github.com/Viknet/cnping-android/releases/tag/0.0.1a

[2017-06-09 02:26] Viknet commented on #19
If device rooted with SuperSU, new build should work around SELinux: https://github.com/Viknet/cnping-android/releases/tag/0.0.1b

[2017-06-11 15:56] Viknet commented on #19
@cnlohr You can try last build: [cnping-android-0.0.2](https://github.com/Viknet/cnping-android/releases/tag/0.0.2)

[2017-06-14 17:28] cnlohr commented on #19
I don't have a rooted phone, tho.  I guess it's time.

[2017-07-12 15:33] rscullin commented on #16
(Super delayed; sorry!)

It now seems to works worse than before. All pings fail (to multiple hosts, on multiple networks), and the original issue of "Failed to set TTL option" when run as a non-root user still exists.

![image](https://user-images.githubusercontent.com/176014/28125741-847f4332-66f5-11e7-92d0-67b8038c2bc1.png)

[2017-07-13 04:46] cnlohr commented on #16
Ok... Does it work as root though?  And, I am thinking we probably should clean it up more.

[2017-07-13 05:46] #15 closed

[2017-07-13 05:47] cnlohr commented on #16
Whoops.  That was a pretty big bug.  Should be fixed now.  Also if something goes wrong during the normal operations, it should provide a friendly message to the display.

[2017-07-13 15:25] rscullin commented on #16
Works great now! Gives an error as non-root, and functions as root.

[2017-07-13 15:25] #16 closed

[2017-11-01 18:55] cnlohr opened #25 "Max packet size should be much higher."
https://github.com/cnlohr/cnping/blob/10406c772b324383b144777e8ad896b5adc430ba/ping.c#L65

In order to allow search for max framesize over links.

[2017-11-17 14:55] RupankarGhosh opened #26 "Segmentation fault error"
Build it on Android with cli tools (Terminal). But when it runs it displays segmentation fault .Maybe Android doesn't have any X11 .Or I can't use the programme properly.

![Cuping in Android](https://i.imgur.com/G5yTNQf.png)

[2017-11-17 15:35] dreua commented on #26
The code in this repository is not meant to compile or run on Android, sorry. See #19 for more on Android-Support.

[2017-11-17 22:54] cnlohr commented on #26
uuuhh... the fact it's even getting that far is pretty wild.  If you can get searchnet to work, that holds out hope and a different CNFG rawdraw frontend could be used!

[2017-12-11 21:56] dreua opened #32 "Building .exe with Travis CI"
Hey,
I wanted to learn how Travis CI works and cnping came in handy as a test subject: I managed to build it on their servers and as a bonus upload the .exe to the [releases page.](https://github.com/dreua/cnping/releases) (The exe works on Windows 10 as expected.)

If you want to integrate this in your main branch you have to sign up to Travis CI (which is free and really easy) and take my [.trav

[2017-12-27 21:26] cnlohr commented on #32
What is the API key?

This does look very cool.

[2017-12-27 22:24] dreua commented on #32
Travis needs a Github API key for the access rights to upload files (they call it assets) to your projects releases page on Github.
See https://docs.travis-ci.com/user/deployment/releases/#Authenticating-with-an-OAuth-token for more information. I [installed the Travis client](https://github.com/travis-ci/travis.rb#installation) and used the `travis setup releases` command to automate the creation

[2017-12-28 09:59] cnlohr commented on #32
Now I just have to figure out how to mark issues unread so I can try to get this tomorrow.

[2017-12-28 10:31] dreua commented on #32
Maybe another comment will do?

[2017-12-28 18:33] #20 closed

[2017-12-28 18:33] cnlohr opened #33 "Add HTTPing"
Need to integrate httping into this, to allow for pinging in environments where icmp is disabled.

[2018-01-23 19:52] ChristianRomberg opened #34 "N"

[2018-01-23 19:55] ChristianRomberg opened #35 "Segfault, "No protocol specified""
Hi, I recently upgraded to Ubuntu 17.10 which uses Wayland instead of X11. cnping used to work before the upgrade, and now it doesn't. I freshly installed cnping from source to make sure I got the latest version, but it segfaults after saying "No protocol specified". Screenshot below.
![screenshot from 2018-01-23 20-53-50](https://user-images.githubusercontent.com/25772118/35297575-afb005d6-007f-1

[2018-01-23 19:56] ChristianRomberg commented on #34
woops. sorry. This was not intentional.

[2018-01-23 19:56] #34 closed

[2018-01-23 20:34] ChristianRomberg commented on #35
Done a little debugging (courtesy of some `printf`) and it turns out [XOpenDisplay(NULL)](https://github.com/cnlohr/cnping/blob/master/CNFGXDriver.c#L166) returns `NULL`. Not sure why, I thought XWayland would take care of it. Other X Windows (such as xeyes) work fine.

[2018-01-23 20:37] ChristianRomberg commented on #35
Ok. Got it. It's the setuid causing trouble. If I follow the instructions outlined [here](https://wiki.archlinux.org/index.php/wayland#Running_graphical_applications_as_root), everything works.

[2018-01-24 19:00] cnlohr commented on #35
hmm, that is annoying it doesn't "just" work.  But there's really no other way around it

[2018-01-24 19:14] ChristianRomberg commented on #35
I guess one way to deal with it would be to build 2 seperate applications, one with elevated permissions (which does the pinging) and one for plotting. Having to execute those commands before using this awesome program is just a pita

[2018-01-24 21:37] cnlohr commented on #35
indeed!  Sounds like something that needs to be complained about for the people XWayland ppl to address.

[2018-01-25 11:40] dreua commented on #35
Maybe we should try using capabilities instead of setuid before doing anything more complex. See this article for a short overview: https://www.insecure.ws/linux/getcap_setcap.html

[2018-01-25 16:52] ChristianRomberg commented on #35
That works brilliantly! Thanks. If there aren't any major drawbacks to this I'm gonna do a PR

[2018-01-25 17:57] cnlohr commented on #35
@dreua  thank you so much for that.  I had no idea it existed.

[2018-02-09 15:20] dreua commented on #35
I experienced some really strange behavior when upgrading from the old (setuid) to the new (getcap) version:
1. On `linuxinstall` the file `/usr/local/bin/cnping` is overwritten but the setuid-bit from the file being previously at that location (from the old version) is for some reason (bug or feature in `cp`?) still present in the new version.
2. Now my cnping has both, the setuid bit and the cap

[2018-02-09 19:09] cnlohr commented on #35
My recommendation would be to do the first option of removing cnping.

[2018-02-11 16:03] ChristianRomberg commented on #35
We could just install it with the coreutils install which clears all the permissions and file flags. Its really only a cosmetic difference which archieves the same goal of removing the setuid.

[2018-02-11 16:07] ChristianRomberg commented on #35
Kinda odd though that removing the file capability fixes the issue for @dreua . Not sure whats up with that. But can you confirm that it works when you give it only the capability and not the setuid-flag?

[2018-02-11 21:07] dreua commented on #35
Yes, it works fine with the capability only and with the setuid bit only, but both is a problem. (I have no clue why, I guess it's a bug in Fedora.) I just tried your PR and it works fine for me, thanks 👍

[2018-02-12 03:36] #35 closed

[2018-02-21 06:44] matrix1000 opened #38 "Segmentation fault on Linux"
Hi I've use Debian GNU/Linux 8.10 (jessie)
Linux ... 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux
gcc version 4.9.2 (Debian 4.9.2-10)
Package: libxinerama-dev -> Version: 2:1.1.3-1+b1
Package: libxext-dev -> Version: 2:1.3.3-1
Package: libx11-dev -> Version: 2:1.6.2-3+deb8u1

I've done the following steps:
make clean
make cnping
(getting some unimportent warnings)
./

[2018-02-22 21:24] cnlohr commented on #38
(1) Make sure there are no issues with your X.  i.e. run xclock.
(2) Run with gdb, i.e.

```gdb ./cnping```
```run -h 8.8.8.8```

Charles

[2018-02-23 09:43] matrix1000 commented on #38
Hi cnlohr, ok, I've found a strange issue with my X. Thanks.

[2018-02-23 09:43] #38 closed

[2018-02-23 14:08] cnlohr commented on #38
Just wondering what was?

[2018-03-01 14:39] dreua commented on #33
I see there are some changes related to HTTPing, but is it done yet? If I try it I only get errors:
[code]

If the pinging via Http proves to be reliable and works without special permissions this would also be very promising for the Android version...

[2018-03-01 14:56] dreua commented on #33
This fork works better for me: https://github.com/jvandenbroek/cnping
(Still a bit rough, e.g. it seems that the ping pauses while waiting for an answer.)

[2018-03-01 23:41] cnlohr commented on #33
WHOOPS Try it now.

[2018-03-02 12:27] dreua commented on #33
Yeah, now it works, thanks!

At the moment it's not possible to specify a port number or a specific URL - should we add this as a feature in the future or are these left out intentionally (maybe to make it harder to generate too much load on the server)?

And for some sites, e.g. http://vw.de (It's just a short URL, I am not affiliated with them ;)) and the "SimpleHTTPServer" from Python (`sudo py

[2018-03-02 15:56] cnlohr commented on #33
Issue resolved.

Both things are now available.

http://google.com:80/asdf

Does what you'd expect.

[2018-03-20 15:46] dreua opened #39 "IPv6 support"
I'm not sure how much work this is, but it would be a nice addition and it will be needed some day...

[2018-03-20 18:54] cnlohr commented on #39
I'm pretty confident the IPv6 thing is just a fad and is gonna blow over eventually.  Maybe there will be a new IP standard that isn't excessively complicated people will actually use.

(ok, joking, a little bit)

I don't really understand the functions surrounding IPv6 especially in regards to how things like ping work.  If you're up for integrating and testing it I would be up for accepting a pu

[2018-03-22 10:24] goeiecool9999 opened #40 "HTTP thread gets maxed out"
Running the command: "cnping http://192.168.1.1/" where 192.168.1.1 is my Netgear router causes CNping to max out one of it's threads. It works fine when pinging google on HTTP. It might have something to do with my router rate limiting. This is definitely an edge case but probably worth fixing. The framerate goes to ~3 seconds per frame.

Odd pattern
![image](https://user-images.githubusercontent

[2018-03-22 15:03] cnlohr commented on #40
Could you wireshark dump a sample of it and post the dump here?

[2018-03-22 15:29] goeiecool9999 commented on #40
[routerhttpdump.zip](https://github.com/cnlohr/cnping/files/1838147/routerhttpdump.zip)
There you go. It captures packets in groups of 10 and every time a connection reset occurs a new frame is drawn. Should be pretty straight forward to figure out. The router is probably protecting itself against brute force causing an active wait somewhere in the code.

[2018-03-22 15:43] goeiecool9999 commented on #40
So I wanted to post the dump first but when I look into it appears the code expects a double CRLF at the end of the router's response but for some reason netgears neglects to send the second CRLF. Turns out the problem lays with Netgear!

[2018-03-22 16:03] goeiecool9999 commented on #40
"The 4xx class of status code is intended for cases in which the client seems to have erred. Except when responding to a HEAD request, the server SHOULD include an entity containing an explanation of the error situation" Oh... It **IS** Netgear's fault...

[2018-03-22 16:09] cnlohr commented on #40
Well, I believe we should still work!  I'll try to look at this tonight.

[2018-03-22 16:10] cnlohr commented on #40
BUT!!! If you can fix it and test it that would be much preferred!

[2018-03-23 05:59] cnlohr commented on #40
shall we close this issue?

[2018-03-23 07:37] #40 closed

[2018-07-09 16:57] cnlohr opened #43 "Don't crash if switching to histogram and there are no packets received."

[2018-07-11 14:56] #43 closed

[2018-07-11 15:03] #33 closed

[2018-07-11 15:04] #25 closed

[2018-07-12 19:31] revirescam opened #44 "High CPU usage (of process "Xorg") while using cnping"
When using cnping on linux (debian buster), I get 100%  cpu usage.  Even with slow pings - a period of 2 seconds.  Do other people see this too?  If so, is it hard to fix?

![cnping](https://user-images.githubusercontent.com/12305906/42654967-684e7a42-8612-11e8-967b-236c5087043d.png)

[2018-07-13 14:10] dreua commented on #44
On Fedora 27 I do see Xorg's CPU-usage rising but not that extreme:

- top shows around 16 % (I guess this is % of one Core)
- Gnome System Monitor shows around 4 % (I guess this is % of all 4 cores together)

While it doesn't bother me on my quite old system, it is still more than I would expect for a slow ping, maybe I'll have a look at the code after my exams.
Fist step would be to figure out w

[2018-07-13 14:19] dreua commented on #44
One more thing: Have you tried `make linuxinstall` and `cnping <whatever>` afterwards? It installs and sets the cap_net_raw permission for cnping which might be different from running the whole thing via sudo in terms of CPU usage.

[2018-07-13 20:07] revirescam commented on #44
Thanks @dreua

The cap_net stuff makes no difference.

One more data point:  the 100% cpu usage is seen on a lenovo laptop with 4 cores.  So Xorg uses an entire core.  However, on my hp desktop (2 cores), it only uses 25% of one core. MUCH less cpu is used on the desktop.

Why? - well my suspicion is that I don't have my X well configured on the lenovo laptop (I've always torn my hair out in frust

[2018-07-13 20:07] #44 closed

[2018-07-13 21:57] dreua commented on #44
I agree that this might be mainly an issue with your graphics driver but I still wanted to decrease the system load for higher ping times. Care to test my branch/pull request? It can't do anything at 0.02 s ping interval but for higher intervals it should be better. I still wanted to refresh the windows about 5 times a second. If that is still too much for your system increase the .2 in line 676 o

[2018-07-14 03:28] cnlohr commented on #44
Yeah, I'm good with that.  If you have like 20 windows open it does get pretty rough even on properly configured systems.

[2018-07-14 07:45] revirescam commented on #44
That worked @dreua, thankyou.

New data on CPU usage (sudo ./cnping -p 2 192.168.1.22):
Desktop, previously 25% now 5%
Laptop, previously 100%, now 23%

Great stuff - thanks again @dreua and @cnlohr
J.

[2018-07-15 01:51] Dauie commented on #1
Also, if you do have this issue after including:  Make sure that you are including <netinet/ip.h> before you include any libraries that reference the type alias n_short. i.g. <netinet/ip_icmp.h>

[2018-07-16 09:56] mischnic opened #46 "Mac compile error: MSG_NOSIGNAL"
Not sure whether cnping or cnping_mac is the correct target, but both don't compile on macOS (10.13):

[code]

[code]

The second error can be reduced to the first with:
[code]

[2018-07-16 12:15] mischnic commented on #46
Would the Windows "solution" work for macOS as well?
https://github.com/cnlohr/cnping/blob/67bf9b73eefe1de63bed8608e7cb79250bea5f3d/httping.c#L9-L13

[2018-07-17 03:06] cnlohr commented on #46
Looks like the right answer is to use SO_NOSIGPIPE

https://github.com/lpeterse/haskell-socket/issues/8

[2018-07-17 03:06] cnlohr commented on #46
But for yes, temporarily I guess we could do it that way...

[2018-07-17 08:51] mischnic commented on #46
Like this?
[code]

There seems to be no difference to `#define MSG_NOSIGNAL 0`.

But cnping-mousey always looks like this (regardleyy of _mac or the X11 version):
![bildschirmfoto 2018-07-17 um 10 50 28](https://user-images.githubusercontent.com/4586894/42806665-3b52bfc6-89af-11e8-885e-be63e9719589.png)

[2018-07-17 15:08] cnlohr commented on #46
Mousey needs to be removed.  Only use cnping or searchnet.

`SO_NOSIGPIPE` is only used to prevent program crash if it fails to send.

Are you running as root?

[2018-07-17 18:05] mischnic commented on #46
Yes, otherwise I get : `Error: Failed to set TTL option.  Are you root?  Or can do sock_raw sockets?`

How can I test that?

[2018-07-17 20:39] cnlohr commented on #46
Unplug your ethernet device after the application has started.

Is it still not working at all for you?  Even when running as root?

[2018-07-17 20:54] mischnic commented on #46
(= disabled Wifi). Is this correct?

![bildschirmfoto 2018-07-17 um 22 49 44](https://user-images.githubusercontent.com/4586894/42844604-ccace15e-8a13-11e8-9f78-1510c0df851b.png)

cnping(_mac) works fine with the `SO_NOSIGPIPE` change. With this:

I meant that both fixes behave the same way (= work fine).

[2018-07-17 21:17] cnlohr commented on #46
That looks great.  Maybe OSX just decided to remove the signal functionality altogether?

[2018-07-17 21:17] cnlohr commented on #46
Can you do a pull-request?

[2018-07-18 05:11] #46 closed

[2018-07-21 19:33] dreua opened #49 "[Info] Packaging for Fedora (rpm)"
I built a cnping package for Fedora, check it out here: https://copr.fedorainfracloud.org/coprs/dreua/cnping/
In case someone is interested, here is the specfile:
https://copr-be.cloud.fedoraproject.org/results/dreua/cnping/fedora-28-x86_64/00779658-cnping/cnping.spec

[2018-07-22 06:33] cnlohr commented on #49
Does that mean it may become part of the distro?  I.e. available by yum install?

[2018-07-23 09:14] dreua commented on #49
Yes, it *may* become part of the main repository eventually, that depends on whether I find a sponsor and manage to get this reviewed. But I have to learn more about the packaging process and fix some minor issues first.
Copr for Fedora is like AUR on Arch or PPA on Ubuntu/Debian, you can already easily install the package by: `dnf copr enable dreua/cnping` to enable the copr as a package source a

[2018-07-23 15:02] cnlohr commented on #49
Understood.  Hmm, I would love to see what it would take to make this part of an actual distro.  Who knows, maybe someday even Debian!

[2018-07-24 23:42] dreua commented on #49
You mean you'd like to see a todo list? Here you go:

- [ ] Include the whole license text(s) in the license file
- [ ] Write and include a man page
- [ ] Make releases. (Simple git tags would be fine. The versioning scheme is important for the package manager to figure out which of two packages is older/newer. Using the date and git hashes is possible but somewhat messy imo.)
- [ ] Release source

[2018-07-24 23:48] dreua commented on #39
Yeah, rethinking this now I guess you are right and it's not worth it at the moment. Should we close this for now or should we leave it open in case someone with great IPv6-skills comes by looking for a way to put them to good use?

[2018-07-25 11:07] dreua commented on #49
No, actually I just wrote down the todos to get them out of my head and did't think about assigning them to anyone. I edited the list to what seems reasonable to me. Maybe I can do PRs for the first two in the next days but you can also do it yourself of course ;)
About IPv6: We can always update the package later when it's ready, so there is no real need to do this now.

[2018-07-26 09:39] mischnic opened #50 "cnping_mac blurry text"
The text rendered by cnping_mac isn't quite as sharp as in the X11 version (especially on the blue background).

![bildschirmfoto 2018-07-26 um 11 35 07](https://user-images.githubusercontent.com/4586894/43254675-33a9b7b4-90c8-11e8-828e-3f6e81313b7b.png)
![bildschirmfoto 2018-07-26 um 11 35 15](https://user-images.githubusercontent.com/4586894/43254677-33c5e7ae-90c8-11e8-8db3-89496a5b635c.png)

[2018-07-27 16:47] cnlohr commented on #50
I don't know anything about this, maybe @Viknet knows?

[2018-07-28 10:59] Viknet commented on #50
For some reason I mixed up window size and content size. Image was squished by height of title bar and interpolated.

I created pull request with fix: #51

[2018-07-28 19:08] cnlohr commented on #50
Thanks!  Does that fix it, @mischnic ?

[2018-07-28 19:09] mischnic commented on #50
Yes! 👍

[2018-07-28 19:12] #50 closed

[2019-02-04 15:44] andrewssobral commented on #26
Thanks for this great tool!
but I had the same issue on my Ubuntu 18.04 desktop computer, see logs:
[code]
do you have any news on how to fix that? thanks in advance

[2019-02-04 15:51] andrewssobral commented on #26
I found the issue, it occurs when I run cnping from an SSH session, but when I run it in the bash terminal from Ubuntu it works fine! Great work! thanks

[2019-02-04 22:42] cnlohr commented on #26
Hmm... I haven't had any issues with ping http stuff.  Can you run it in gdb for me and see where it crashes?  Also may want to use debug.

(1) Change `-Os` to `-O0` in Makefile
(2) execute `gdb cnping`
(3) type `run http://google.com` in gdb.
(4) Copy and paste output.

[2019-02-07 11:23] dreua commented on #26
The issue has nothing to do with HTTP but I tried gdb anyway:
[code]
I think CNFGDisplay is null when using ssh without proper X-Forwarding. Most graphical applications fail in this environment. I'm working on a better error handling (warning instead of SEGFAULT).

[2019-02-07 14:22] andrewssobral commented on #26
Hi @dreua , yes, the problem is exactly due to proper X-Forwaring on SSH. In my case, everything is working well now. thanks

[2019-02-07 20:55] cnlohr commented on #26
Closing this issue though I am hoping @dreua gives feedback in the actual merge request.  Thanks for the solution!

[2019-02-07 20:55] #26 closed

[2019-03-18 21:08] BolverBlitz opened #54 "Black and Wite after minimize cnping on Windows10"
![grafik](https://user-images.githubusercontent.com/35345288/54563769-61877700-49ca-11e9-8516-42099efc863e.png)

[2019-03-20 21:48] dreua commented on #54
Hello BolverBlitz, thank you for reporting this issue!

I can easily reproduce it on Windows 10. It is triggered only after minimize or <kbd>Windows</kbd>+<kbd>D</kbd> (which is essentially "minimize all" so no surprise). Hiding the cnping window with other windows is no problem.

Unfortunately I have no idea what causes this and currently no solid plan on how to debug this, but hopefully I or som

[2019-03-20 22:25] dreua commented on #54
I just tried the exe from https://github.com/cnlohr/cnping/commit/dab665d732902fa3d3fe697af5ae8d46045909f0 and https://github.com/cnlohr/cnping/commit/5c42452616a85c6877f5502a828dc82f61212a80 with the same results, I think this bug has been there for ever.

[2019-03-21 22:37] dreua commented on #54
I found out that the problem does not exist when cnping is compiled with OpenGL (the Visual Studio project file of Rawdraw does this as default so I was kind of lucky finding this).

With OpenGL minimizing is not a problem anymore but the font looks worse, so I guess you have to "choose your pain".

Top: Standard cnping after minimizing.
Bottom: OpenGL cnping (minimizing makes no difference)
![def

[2019-03-31 21:33] Michael137 opened #58 "FreeBSD Support"
Used it on Windows and liked the tool, now wanted to port it to my freebsd machine. Changes aren't intrusive (i.e. a few ifdefs to add headers) but if anyone objects I can just leave it as a fork

Changes are in this PR: https://github.com/cnlohr/cnping/pull/56

[2019-03-31 22:16] dreua commented on #58
Fwiw I think that Charles will merge these when he gets the time. He seems to be busy these days.

[2019-04-01 01:05] Michael137 commented on #58
no worries
just a place to keep track

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 11:32] dreua commented on #54
1. The bug is also triggered by resizing the window to minimal (i.e. zero) height.
2. Another possible fix is the RASTERIZER flag instead of CNFGOGL. Maybe that is even better? (Performance looks good to me.)
3. I pulled in changes from rawdraw and my pull request there. The font looks the same now with OpenGL.

[2019-08-02 14:08] Michael137 commented on #58
bump :)

[2019-08-12 18:54] jcgruenhage opened #60 "Making a release"
Hey, could you start adding git tags with some kind of a versioning scheme? I'd like to package this for voidlinux, but they don't accept packages without versions. This would also be a requirement for a bunch of other distros, as mentioned in #49.

[2019-08-12 19:21] jcgruenhage commented on #60
See https://github.com/void-linux/void-packages/pull/13627

[2019-08-13 11:32] jcgruenhage opened #61 "Support ARM architectures"
https://travis-ci.org/void-linux/void-packages/builds/570995593 shows how the builds fail on ARM.

[2019-08-15 08:52] dreua commented on #61
Aarch64 build for fedora [just succeeded](https://copr-be.cloud.fedoraproject.org/results/dreua/cnping/fedora-rawhide-aarch64/01005092-cnping/) but be aware that I can't test if the executable actually runs.

Looking at your aarch64 build, the last call of gcc instead of aarch...gcc might be wrong:

[code]

Maybe we need to change the Makefile to use the compiler given by the environment. Not sure

[2019-08-17 14:47] dreua commented on #61
Fixed some stuff here, but there is more to do: https://github.com/void-linux/void-packages/pull/13725

[2019-09-24 07:35] cnlohr commented on #61
@dreua feel free to make a PR for this addition to the Makefile with a conditional compile.

[2019-09-24 07:37] cnlohr commented on #61
@dreua What is wrong with the existing Makefile for this if CC is overridden going into the Makefile?  I.e. why the stack clash protection and fortify source flags?  Could they be added to the regular makefile?

[2019-09-24 07:38] cnlohr commented on #60
@jcgruenhage @dreua   I am a-ok with this. I've never implemented versioning for that sort of thing.  What kinds of steps would we use to do a versioning scheme?  I am back to doing some github stuff after working insane hours at my new job for about 8 months.

[2019-09-24 07:38] cnlohr commented on #58
This was added in PR #56

[2019-09-24 07:38] #58 closed

[2019-09-24 07:40] cnlohr commented on #54
@dreua I am up for considering this, though I'd really like to understand why my use of the Windows API would lead to this.  It would be good to fix the upstream in rawdraw.  Not sure if you've noticed, but I've merged a lot of stuff, including the not-needing-admin thing.

[2019-09-24 07:41] cnlohr commented on #19
I know it's been forever, but we've since added support for HTTP Pinging.  It would be very cool if this was something someone did want to work on.

[2019-09-24 07:42] cnlohr commented on #32
@dreua Are you interested in taking over cnping?

[2019-09-24 13:42] dreua commented on #32
Well yeah, I was actually thinking about asking you about this when I was worried that you might not be interested or have the time to look after this project any more.
I think I could take care of this issue, the versioning, maybe the makefile (#61), then finish the Fedora packaging, small issues and pull requests that might come in and stuff like this. To be honest though, for bigger work like a

[2019-09-24 14:02] dreua commented on #19
Yeah, since Http ping would not require root, that would be the way to go now. Unfortunately I don't have the time to do this...

@ChristianRomberg  would you like another Android project? ;)

[2019-09-24 14:07] dreua commented on #54
It's been some time since I looked into that - I believe I searched the net for a bit but didn't really find something about this bug. Is there some keyword or documentation link for the API you are using here?

[2019-09-26 20:05] dreua commented on #61
Well, I just tried to make it work some way. I didn't add extra flags, just tried to keep what was there while making it possible for the packaging environment to overwrite and customize stuff:

1) Replace direct call to `gcc` by `$(CC)` with a default value of `gcc`, so running make locally will continue to work while you can overwrite CC for cross compilation by appending it to the make command.

[2019-09-27 01:21] cnlohr commented on #60
Should we push for 1.0-pre then?  And have you guys test it?

[2019-09-27 01:24] cnlohr commented on #61
I've committed, but I think the right way would be to use the `?=` operator in the `Makefile` to override various behavior.  I think that should include CFLAGS and LDFLAGs.

[2019-09-27 01:39] cnlohr commented on #54
(Unrelated to topic)

@dreua the work you are doing is AMAZING.  I really regret not making more time to work on github stuff earlier this year. I am working on something I think you may appreciate.  Do you have some mechanism we can communicate over more directly?  Discord?  I'm cnlohr#4125

[2019-09-27 01:42] cnlohr commented on #32
I totally forgot that I could make collaborators.  You should be able to do whatever you need to do in my repo now.   I was originally thinking that it would be more along the lines of you making dreua/cnping and I have a note saying "it's there now" but I really think I'm going to be able to get back into more of the open source stuff.

[2019-09-27 04:36] cnlohr commented on #54
Anyone else who's attacked this:  Do you also feel like you're eating crazy pills.  None of this makes sense why it's reverting to 1bpp.

[2019-09-27 04:54] #54 closed

[2019-09-27 05:01] cnlohr opened #64 "Using OpenGL"
Ok, fine, @dreua You're right.  OpenGL in Windows 10 is WAAAAYY better in just about every way.

This issue is here in case anyone has any issues.

[2019-09-27 05:03] cnlohr opened #65 "Precompiled binary"
@dreua do you have any plans for how we would distribute cnping.exe?  I am temporarily removing it from the .gitignore file, but we should find a better way to distribute, sign, etc.

[2019-09-27 05:32] cnlohr commented on #65
I've noticed this site: https://www.certum.eu/en/cert_offer_en_open_source_cs/ but I'm not sure if I need it or how I would go about it.

[2019-09-27 09:46] dreua commented on #54
@cnlohr I sent you a friend request on discord (david#7284). Do you use telegram by any chance (@dreuamainz)?

[2019-09-27 10:23] cnlohr commented on #54
I do not use Telegram.

[2019-09-27 16:07] dreua commented on #65
I believe I proposed a solution in  #32 . Signing should be possible via travis as well (it's essentially a linux environment), might need a bit of work to set it up though.

[2019-09-28 11:13] dreua commented on #54
Here is the fix, in case someone else is interested: https://github.com/cnlohr/rawdraw/commit/250023c48b956daa63763394fbda36450f246a0d

[2019-09-28 12:38] dreua opened #66 "Get version string from git"
I think this is the best way: https://stackoverflow.com/a/12368262/4529404
I will do some tests and implement it when I get the time.

[2019-09-28 20:40] dreua commented on #61
Back to topic: The package builds now on all plattforms. I just [updated and added a dependency](https://github.com/void-linux/void-packages/pull/13725/commits/ec5bae3db4242bff0bbae8e22a401c3af58b2e1c) in the end.

[2019-09-28 21:23] jcgruenhage commented on #61
Sure, looking good. Thank you!

[2019-09-28 21:43] jcgruenhage commented on #61
rebased onto master, squashed the two commits and fixed the commit message. PR now at https://github.com/void-linux/void-packages/pull/14805

[2019-09-29 07:02] cnlohr commented on #61
@jcgruenhage I left a comment over there.  I've never done it before, how would I go about pulling from there back onto cnping?

[2019-09-29 07:04] cnlohr commented on #66
Do we really want a git version string instead of a human-readable incrementing one?  I figured most distros would want cnping-1.0, etc. or cnping=1.0

[2019-09-29 07:37] dreua commented on #66
Well, I hope that it doesn't use the git hash but returns us the version tag instead, so that would be human readable and doesn't require you to set the version in the source code each time you build/release. I'll try that now...

[2019-10-03 20:11] jcgruenhage commented on #60
In my testing, cnping has worked flawlessly. I;d be happy to see this declared as 1.0, anyone else got an opinion on that? A non-pre release is a blocker at least for the voidlinux package

[2019-10-04 06:45] dreua commented on #60
I would prefer 1.0.0 to be more in line with semver. No other objections.

[2019-10-04 06:59] dreua commented on #60
I can integrate Travis ci and release 1.0.0 after work, i.e. in about 10 hours.

[2019-10-04 18:31] dreua commented on #60
1.0.0 is out, let me know if there is anything else.

[2019-10-04 18:31] #60 closed

[2019-10-04 18:32] #32 closed

[2019-10-04 18:47] dreua commented on #65
The Travis build is running smoothly :) About the signing: I'm not sure if it is worth the money, to be honest. I just read some stuff on the web that didn't sound too promising. I will ask a college about his experience on that next week.

[2019-10-23 07:54] #61 closed

[2020-04-22 22:19] mrbesen opened #67 "[Suggestion] Interface selection"
Would be cool, if you could specify the interface to use. like normal ping where you can do `ping -I wlan0 1.1.1.1`

[2020-04-27 08:53] dreua commented on #67
At least on linux that should be easily possible: [c - bind socket to network Interface - Stack Overflow](https://stackoverflow.com/questions/14478167/bind-socket-to-network-interface)

One thing to investigate though is if that actually needs root permissions *and* `CAP_NET_RAW`. The top answer says so but lets hope this is incorrect and we can make it work with capabilities only. (Running cnping

[2020-04-27 09:17] mrbesen commented on #67
In my case i have more than one connection to the internet (ethernet and mobile) and sometimes the ethernet connection breaks. So when i wait for the ethernet connection to come back up i would like to use cnping to monitor the ethernet interface. But of cause cnping chooses the working mobile connection and is not really helpfull. I guess VPN-User or VM-Hosts may use this feature too.

[2020-04-27 09:20] dreua commented on #67
Are you interested in working on this?

[2020-05-03 07:17] cnlohr commented on #67
@mrbesen that does sound like a preeettyy cool feature to have... It could exist if you make it exists.  We can test and help.

[2020-05-03 13:49] BondarenkoArtur opened #68 "cnping makes Xorg to 100% single core CPU usage"
I've updated `cnping` 5 days ago from AUR repo, and newer version makes Xorg eat 100% cpu time for one core...
[code]

[2020-05-03 15:00] cnlohr commented on #68
Do you know when the older version was from?

[2020-05-03 17:41] BondarenkoArtur commented on #68
As I can see from AUR changes previous version was from another repo...
https://aur.archlinux.org/cgit/aur.git/log/?h=cnping-git

[2020-05-03 17:51] BondarenkoArtur commented on #68
Issue somewhere between `b9ee1fd` and `3951f0e`

[2020-05-03 17:52] BondarenkoArtur commented on #68
As I found issue in `8edb903` commit. In previous `3951f0e` I don't have 100% cpu usage issue...

[2020-05-03 18:03] BondarenkoArtur commented on #68
Ok, I'm not sure, but it seems that I've this issue because of `XDrawPoint(...)` function in `CNFGDriver.c:481` from last commit. If I'm removing this line I don't have issue with 100% usage anymore. But maybe I broke something, I don't know yet...

[2020-05-03 19:21] dreua commented on #68
That's the same repository, cnlohr just moved it here.

I also have 100% Xorg on the default of 0.02 s ping time but if I turn it down, e.g. `cnping google.com 0.5` it's less, is this the same you are experiencing?

[2020-05-03 20:03] BondarenkoArtur commented on #68
As for me on 0.5 I still have some CPU load, and 0.02 isn't really stable for me. When I commented one line that I mentioned before, everything is smooth...
[Short preview](https://i.imgur.com/qwMIELa.mp4)

[2020-05-04 11:42] cnlohr commented on #68
Woaoaahhh that is painful.  I guess my big question is if your version is an OpenGL, rasterized or a pure X version.  I'm also mega curious what is up with your X.  Is something like `glxgears` smooth?

What about `xeyes` if you move your mouse all over?

[2020-05-04 14:44] BondarenkoArtur commented on #68
I don't have `xeyes`, but `glxgears` is perfectly smooth with 60fps and almost no load to Xorg.
`x11perf` is probably needed to be installed somehow separately...

[2020-05-04 16:51] cnlohr commented on #68
I don't know what package it would be in for manjaro, but it's certainly worth installing, since it looks like on all the public builds (unless you have a super weird one) the default is to use standard X11 drawing primitives.

[2020-05-05 06:27] CaiB opened #69 "Windows Options Dialog Text is cut off"
When running cnping without command-line options on Windows, a dialog is presented to configure the options instead. On my machine, the text looks unusually large (I'm using 100% display scaling, default text sizes, etc). This causes the text to get cut off on the right, and since the window is not resizable, this makes a lot of the options unreadable.

![image](https://user-images.githubuserconte

[2020-05-05 19:40] dreua commented on #69
For comparison, here is what it looks like on my Windows 10:
![Annotation 2020-05-05 213537](https://user-images.githubusercontent.com/15114715/81108253-b365c600-8f18-11ea-81f3-e48cb5186733.png)
It's exactly the same and a few pixels less in height. And of course a different font that fits. Maybe we can make the Window resizable - automatically fitting the contents in best case.

[2020-05-06 01:44] CaiB commented on #69
Ah, it’s possible that Windows is selecting a different font that is able to display Japanese characters, since my system is partially set to Japanese language mode. It looks like this font simply has larger characters for English characters, hence cutting off the text.

[2020-05-06 09:23] dreua commented on #69
I see, so it may be better to set the font instead of making the window resizable? At the moment no font is set to it must take some Windows default, but iirc setting a font is easily possible. Maybe we can even go for a fixed width font like the console uses so the indentation is preserved.

[2020-05-06 09:41] dreua opened #71 "Use rawdraw as git submodule"
Currently we use a copy of rawdraw a submodule would be more handy to pull in fixes and improvements.

[2020-05-06 19:37] dreua commented on #69
The dialog is now resizable (Fixed in #70)

[2020-05-06 19:37] #69 closed

[2020-05-09 04:02] cnlohr commented on #71
Just FYI - holding off on this for a few days until we can get rawdraw figured out on that front.

[2020-05-09 05:19] cnlohr commented on #71
This was now resolved in 7defa63f4f35d3a318e061d3f8f8649a217eb764

[2020-05-09 05:19] #71 closed

[2020-05-15 13:44] comfix opened #72 "Makefile all multiple definitions"
Won't build on Linux because `all` is defined multiple times in Makefile
Suggestion make one `windows` and the other one `unix`

[2020-05-15 22:55] dreua commented on #72
You can just `make cnping` for linux in case that wasn't obvious. You probably don't want searchnet.

I guess for me and @cnlohr this definition of `make all` is the most convenient, since he recently added `all` I'll leave the decision to him.

Okay, now I realize that we do have two definitions of all but that doesn't make the build fail (at least not for me - you probably don't have the cross c

[2020-05-15 23:01] dreua opened #73 "Info: rawdraw was recently changed to submodule - Readme if you have checked out this repo before May 2020"
Here is how I fixed it, maybe not the best way:
`git pull` or `git pull upstream master` (whatever you need to get the latest cnping)
[code]

[2020-05-15 23:03] dreua commented on #73
Fixes this error:
[code]

[2020-05-15 23:17] dreua commented on #72
Could also be #73 or that your build system actually does not get along with multiple definitions. Now I'm curious what the actual error / message is.

[2020-05-16 03:54] cnlohr commented on #73
Wait... what?  Why are there multiple definitions?  It should have been marked static for a while now?

[2020-05-16 03:58] cnlohr commented on #72
Yeah, "is defined multiple times in Makefile" makes me wonder if there's some weird merge issue going on.

[2020-05-16 08:37] comfix commented on #72
I had the same issue as #73 but fixed it myself because I thought my repository just broke itself on fast-forward.

Yes, as @dreua said I don't usually compile for windows so I don't have cross compilers installed and it aborted on the same step every time (windows).

Its strange I just experimented a little bit and now this happens:
[code]
and the resulting make:
[code]

This is at least I would

[2020-05-16 09:12] cnlohr commented on #72
So good to close issue?

[2020-05-16 10:51] dreua commented on #72
@cnlohr we should really delete one of the two `all` definitions. You added one in your latest commits, probably because I moved the old one down to the Linux section and you didn't see it.

Which one would you like to keep?

https://github.com/cntools/cnping/blob/master/Makefile#L5-L34

[2020-05-16 11:05] cnlohr commented on #72
I thought I just checked it out and that wasn't there.  DEFINITELY the first one.  Keep first.  I will do the delete.

[2020-05-16 11:06] dreua commented on #73
Ah, sorry about the confusion: No, this has nothing to do with the `make all` at all :wink:. The problem here is that a regular `git pull` does not update the rawdraw directory to become a submodule and be checked out at the correct commit so the rawdraw directory's contents get deleted as you deleted them in 5851251703721b5bec5e5c94bfbf93ca1a7ad6d5 (which is good) but then it stays empty and the

[2020-05-16 11:06] cnlohr commented on #72
I'm so sorry.  It's fixed now.

[2020-05-16 11:06] #72 closed

[2020-05-16 11:12] cnlohr commented on #73
Then this issue shall remain open.

[2020-05-16 11:15] cnlohr commented on #19
Now, that I have rawdraw as a first class citizen on Android, and cnping supports httpping, this has become much more tenable.  @dreua would you be interested in chatting on Discord?  I want to get your feelings on if this should be a paid app with more bells and whistles or just a bare bones dead simple app for free.

[2020-05-16 11:31] dreua commented on #72
No worries, seems like we both had problems spotting duplicate ALL definitions today :laughing:  For me the problem was looking only at the commit diff instead of the whole file :see_no_evil: Thanks for fixing :+1:

@comfix To me, multiple definitions sound much like undefined behavior and potential trouble. Not sure if this is defined somewhere and consistent across make versions and architecture

[2020-05-16 12:54] BondarenkoArtur commented on #68
Sorry for a delay, I've installed `x11perf` and here is results:
[code]

[2020-05-16 14:41] comfix commented on #72
Sounded like undefined behavior for me as well, that's why I checked it.
Thank you really much guys!

[2020-05-16 21:44] cnlohr commented on #68
Woah, ok, so your X11 is plenty fast. If you are up for properly debugging this I would be appreciative.  If you can download, and build the demo app for rawdraw.  i.e.

`git clone https://github.com/cntools/rawdraw`

[2020-05-17 17:57] BondarenkoArtur commented on #68
I would be glad to help fix this issue. :)
Performance of `rawdraw` really depends on cpu clock. Probably because it uses **100%** cpu usage for `Xorg` (single core only) and only around **3%** for `rawdraw`
[code]
this is for 1920x1060 window, but it seems that for smaller I've almost the same FPS.
Also I've tried with higher cpu frequency, seems to be higher FPS, but 60 isn't reached at all...
O

[2020-05-17 18:13] BondarenkoArtur commented on #68
As I can see significant performance drop appeared in `Make rawdraw able to do full-screen, with xshape and in an opengl context. cnlohr 5/10/18, 6:47 AM` commit with `756e2446` hash.
Probably something in `CNFGXDriver.c`.
Trying to understand what exactly caused a problem...

[2020-05-17 18:18] BondarenkoArtur commented on #68
I also tried to remove `XDrawPoint` call from `void AGLF(CNFGTackSegment)( short x1, short y1, short x2, short y2 )` function and got significant performance boost up to 60fps. I'm not really seeing any difference in rendered image without it, why does this call needed?

[2020-05-18 09:06] cnlohr commented on #68
Hmm... So, it sounds like your issue may be if it's compiled with OpenGL?  Can you share the exact compile line you're getting?  Also - I hadn't thought about the performance implications of including or not including the dot in that way.  The dot is because on some implementations, lines don't include the end or beginning points.

[2020-05-19 08:06] BondarenkoArtur commented on #68
[code]

Just found that I'm relieving error, but cnping is compiled and working

[2020-05-19 08:49] dreua commented on #68
Just go with `make cnping`

@cnlohr maybe this make all issue is bigger than we thought...?

[2020-05-19 09:44] BondarenkoArtur commented on #68
Correct, with `make cnping` it builds without problems.
And yes, it still with bad performance.
Let me know, if I can help somehow with this.

[2020-05-19 10:22] cnlohr commented on #68
@dreua Do you think we shouldn't build the `.exe` with all?  I'm OK with that.

@BondarenkoArtur can you post your compositor configuration and hardware specs?  I am very curious what xserver you are running.   Also, please execute the following command and let me know the output.
[code]
Specifically I'm curious:
(1) Are you using metacity/compiz/marco/compton/etc?
(2) Are you running on an AMD or

[2020-05-19 10:34] BondarenkoArtur commented on #68
[code]

I've i7-7700HQ and GTX1050 as second card on my laptop.
I'm not using compton or something like that.
With compton nothing really changed, but maybe I need some specific configuration. ¯\_(ツ)_/¯

[2020-05-19 10:49] BondarenkoArtur commented on #68
Here is also some additional info from inxi
[code]

[2020-05-20 01:21] cnlohr commented on #68
**interesting** you're using GLAMOR.  Which I never heard of but after some cursory google searches, it totally makes sense that it would be slow as molassas in this application because EVERY SINGLE element would become its own OpenGL draw call because of the intermixing of dots and lines. This is a deeper problem... I'm not exactly sure how to handle this here.  Maybe we could detect if Windows a

[2020-05-20 08:50] BondarenkoArtur commented on #68
I'm not sure is this draw text function
[code]
I'm removing `XDrawPoint` line from this part of code, and everything goes fast.

[2020-05-20 11:40] dreua commented on #68
I have just some ideas about how to fix this but unfortunately not the time to try them myself at the moment:
1. If this is a problem only in cases where OpenGL is available (is that actually the case?) why don't we use OpenGL directly? I think it should be just a minor change in the Makefile, no?
1. Speaking of OpenGL, I once fixed the same root issue of the missing pixel at line start / end in O

[2020-05-20 21:15] cnlohr commented on #68
@BondarenkoArtur that's almost certainly because of Glamor.  With GDI, X, etc. draw calls can be all wildly different, but OpenGL requires lines and points to be rendered as separate draw calls.  If Glamor is not smart about this, then it's going to be a train wreck - and it sounds like Glamor isn't smart about this.   @BondarenkoArtur Can you confirm this is a draw call issue instead of a geometr

[2020-05-21 09:51] BondarenkoArtur commented on #68
@cnlohr This one works great :+1:

[2020-05-25 10:11] #68 closed

[2020-06-21 04:53] qq184473091 opened #74 "support Visual Studio 2015"
I have managed to compile the project with VS2015 by changing some code. I would like to push my code if it's permitted. Thanks.

some of the change is as below:

[code]

[2020-08-13 11:36] dreua opened #75 "cnping shows up as "Unknown" without icon in Gnome's Task Switcher"
This screenshot is already with a fix applied, previously it just displayed "Unknown". We can at least set the name by re-using some previously commented code in rawdraw. I think this would need an interface in rawdraw, to set the window class name to the desired value. I'm not sure how if and how this should be added to the rawdraw API so tell me what you think.

![cnping_task_switcher](https://u

[2020-08-14 09:34] cnlohr commented on #75
That seems very strange. Isn't there some other atom mechanism?

[2020-08-14 09:36] cnlohr commented on #74
I would love to accept this. Can you fork and create a pr? Id like to give credit.

[2020-08-29 04:35] cnlohr opened #77 "Should we link to OpenGL?"
I'm not sure what's appropriate behavior on X11, if we should setup rawdraw to use GLX or not.  I think we should.

The reason I'm thinking about this is because the CI build is currently failing.

@dreua do you have an opinion here?

[2020-08-30 12:15] dreua commented on #77
CI was missing dependencies for OpenGL, fixed in 33992c3a2c6256abf2215d6432472ec5eca44303, [build is now passing](https://travis-ci.com/github/cntools/cnping/builds/181946605).

I don't know what is appropriate behavior here or not, but the current master works for me and I'm fine with leaving it like this. Do you mean we need to change anything else or is this done with the fixed CI?

[2020-08-30 12:28] dreua commented on #77
I think we switched to OpenGL and should stay there for performance reasons: I just ran an older version and it uses less CPU for cnping (1 % of one core) but it causes Xorg to max out on CPU usage (100%). The current version is around 13 % CPU for cnping but no visible effect on Xorg (and my laptop stays silent).

[2020-08-30 13:30] dreua commented on #77
Oh, are we talking about Xlib VS OpenGL or OpenGL VS GLX here? All I said was assuming the former, just learnt that GLX is a thing.

[2020-09-15 19:45] cnlohr commented on #77
I'm not sure... I don't understand the distinction.  I thought GLX was *how* you open an OpenGL context in X.

[2020-09-18 16:27] dreua commented on #77
Alright, never mind me digging up details that we shouldn't worry about. So we were talking about the same thing, agree that we prefer OpenGL/GLX and I'd say its fixed and this can be closed now, would you agree or is there anything else to discuss or do?

[2020-11-30 05:24] cnlohr commented on #77
No closed.  Sorry forgot about this issue.

[2020-11-30 05:24] #77 closed

[2021-01-11 00:30] #75 closed

[2021-03-26 21:39] cnlohr opened #82 "Pinging failing addresses randomly returns working in windows"
![image](https://user-images.githubusercontent.com/2748168/112695273-2aba8600-8e5a-11eb-8f97-e7fc18e106b9.png)

Steps:
 * Connect to wireless network.
 * Start cnping {Address}
 * Disconnect from wireless network.

Wait.

[2021-03-27 08:48] dreua commented on #82
Can confirm on my Windows 10 VM. Even without changing network settings I get a few responses at the very beginning and every now and then. Weird, I'll see what I can do!

[2021-03-27 08:50] dreua commented on #82
![Screenshot_20210327_094942](https://user-images.githubusercontent.com/15114715/112715643-c3481900-8ee1-11eb-83e2-687036647118.png)
It's a very regular pattern in my case...

[2021-03-27 11:53] dark-spark commented on #82
Looks like it is possibly showing a 'reply from x.x.x.x destination  host unreachable' as a valid ping.

[2021-03-27 13:59] dreua commented on #82
Yeah that could be the case. I was thinking in that direction, too. Will have a look with wireshark soon...

[2021-03-27 21:20] dreua commented on #82
Wireshark confirms @dark-spark s idea. "Destination network unreachable" ICMP responses show up whenever cnping shows ping returns. @dark-spark Would you like to fix this or should I have a look?

[2021-03-27 22:46] #73 closed

[2021-03-27 22:47] dreua commented on #74
@qq184473091 are you still around?

[2021-03-27 23:14] dark-spark commented on #82
@dreua Could you please have a look?

[2021-03-28 16:55] dreua commented on #64
I think this can be closed, no?

[2021-03-28 16:55] #64 closed

[2021-03-28 17:03] dreua commented on #65
I there something else to be done here? Github actions became a thing in the meantime and I think they are somewhat better integrated than travis, but travis still works so I think we can leave it as is for now.

[2021-04-04 16:33] dreua opened #83 "Current master version doesn't work on Windows 10 (VM)"
Working on #82 I stumbled upon this other bug.

Something somewhere introduced a change that makes cnping just show up with a grey frame on my Windows 10 VM. It stays like that and quits after some time

Some bisecting later, I'm quite sure it is https://github.com/cntools/rawdraw/commit/8801832a8d2bbbca4d11f62cde91eb72b37ad555

Can someone provide more data points, like whether it does or doesn't

[2021-04-04 19:34] #82 closed

[2021-04-04 19:39] dreua commented on #82
On line change but it took some time to find :wink:

[2021-04-07 08:27] dreua commented on #65
Okay CI is currently broken again, I don't think this is our fault: https://travis-ci.com/github/cntools/cnping

I'm thinking about getting rid of Travis in favor of Github Actions, any thoughts?

[2021-04-07 08:29] dreua commented on #83
Here is the current exe (6b89363e6b79ecbf612306d42a8ef94a5a2f756a) because CI is broken, use at your own risk.
[cnping.zip](https://github.com/cntools/cnping/files/6270127/cnping.zip)

[2021-04-07 08:56] dreua commented on #83
Works on bare metal, probably an issue with OpenGL on my VM.
Related: https://github.com/cntools/rawdraw/issues/55 - Maybe I should put some more work into that.

[2021-04-11 00:30] cnlohr commented on #65
I am not attached to Travis either way. Doesn't Github Actions cost money?

[2021-04-11 06:56] dreua commented on #65
I don't think so, at least it has a reasonable amount of free runtime units for open source projects. We are using it to build and test PDF Arranger including Code coverage through Codecov on each PR and that works great for free.

[2021-06-06 09:32] dreua opened #84 "Every other HTTP ping has a very low (wrong) value for some servers"
This depends on the webserver or its configuration, but you can easily find examples, including homerouters or ESP8266s, which reproduce this behavior. I think it has something to do with reusing connections or failure to do so. The ping response values are ridiculously low, probably rather some runtime until the error occurs than an actual ping.

![Screenshot_20210606_112425](https://user-images.

[2021-06-07 19:47] cnlohr commented on #84
I've also noticed this and don't know the cause.

[2022-08-22 13:27] dreua commented on #74
Closing this for lack of response

i.e. there are probably other changes missing.

[2022-08-22 13:27] #74 closed

[2022-08-25 10:00] dreua commented on #67
Closed via 0f821852b2f05632429577c5b363a51017977f9b

Thank you @mrbesen ! :100:

[2022-08-25 10:00] #67 closed

[2022-09-14 14:02] dreua opened #88 "Coding style"
Reviewing the latest pull request, I noticed (agian) that the code is a bit messy, the placement of braces and parentheses is unusual (at least to my eyes) and inconsistent throughout the project. I'd like to clean that up a bit to ease further development and maintenance.
@cnlohr do you have a preferred coding style for your projects?

A full run of clang-format changes almost every line, I'm not

[2022-11-09 18:09] dreua commented on #65
Update: Github actions are free in public repositories, see https://github.com/pricing

[2022-11-09 18:14] dreua opened #89 "Release 1.1.0"
@cnlohr I'd like to make another release once #87 is merged, probably around the end of this year. I think I'd like to move to Github Actions, too, maybe even as first step. Any objections on your side?

[2022-11-09 19:42] cnlohr commented on #88
I have a personal coding style preference, but I usually try to keep the coding style whatever it was from where it came, or to match the coding style that is within locally.  IN GENERAL, my PREFERENCES are:

* Tabs, not spaces.
* Spacing is:
[code]
* Hungarian notation fine.  But not required.

It's basically the StepMania style, which coincidentally happened to be almost identical to the Valve s

[2022-11-09 19:50] cnlohr commented on #88
Sam E  comments that we have one we have discussed: https://github.com/cnlohr/colorchord/blob/master/.clang-format

Also, I would be willing to do a nuke it and move it if you wanted to.

[2022-11-09 20:06] cnlohr commented on #89
@dreua I really appreciate this.  That looks very cool.  I don't want to dig through it but I trust you to add that support. It would be really nice.

I still think IPv6 is going to continue to die out, but no reason to help it into the grave.

[2022-11-09 20:47] cnlohr commented on #65
If you would like to take ownership over this and proceed, I am def down for that.  It would be pretty awesome.  You really should get in our Discord. There's a lot of experience surrounding it.  Including @AEFeinstein .

[2022-11-09 21:08] AEFeinstein commented on #65
I haven't worked with this project, but I have used circleci for a few others. Is that why I'm getting pinged?

[2022-11-09 22:20] cnlohr commented on #65
yeah, just to chime in if you have any pointers.

[2022-11-09 23:09] AEFeinstein commented on #65
Hm, nothing off the top of my head. I haven't had projects that require signing, and I'm not sure how signing key management works with circleci. That seems like the tricky part. The rest is writing a script to spin up the build environment and do the build. Easy stuff.

[2022-11-27 14:55] mrbesen opened #90 "New Icon?"
Hey, i made a new icon for cnping.
(party because i didn't saw an icon on my setup and thought there was none. But i think i just messed up the install)

What do you guys think? Should this simplified icon replace the current one?
Its an svg. So its scaleable and can be exported to every required size as png. But AFAIK most distros prefer svg anyways.
![cnping_icon](https://user-images.githubuserc

[2022-11-30 02:23] cnlohr commented on #90
I'm not sure how to add icons in this context?

[2022-11-30 17:21] mrbesen commented on #90
As application icon. (The icon you see in the taskbar and when you search for cnping)

The current icon lives here: [/freedesktop/icons/hicolor](/cntools/cnping/tree/master/freedesktop/icons/hicolor)

[2022-11-30 18:41] dreua commented on #90
Looks good to me, certainly better then my screenshot ;)

[2022-11-30 18:48] dreua commented on #90
Would you like to create a PR to replace it?
Applying it to the application is another topic, I remember toying around with. It should work with the desktop file and the icons at the right path and setting the correct wm_class or something. Probably only makes sense in a RPM or DEB package or the like, but I'd like to try that, at least for RPM.